{% extends 'base.html' %}

{% block 'title' %}
<title>Hobbies</title>
{% endblock %}

{% block 'content' %}
<br>
<br>
<div class="full-tablet">
    <div class="full-screen">
        <h2>Current Hobbies:</h3>
        <ul>
            <li>
                <h3>Unicycling</h3>
                <p>I have been unicycling to stay fit and get around since early highschool.</p>
            </li>
            <li>
                <h3>Tennis</h3>
                <p>I enjoy playing tennis often with my friends using the courts near my house.</p>
            </li>
            <li>
                <h3>Reading</h3>
                <p>Being absorbed in a good book relaxes me and keeps my mind busy with new ideas.</p>
            </li>
            <li>
                <h3>Snowboarding</h3>
                <p>Earlier this year I went snowboarding for the first time and found it exhilerating. I am excited to get back up the mountain once I can afford it.</p>
            </li>
            <li>
                <h3>Game design</h3>
                <p>Crafting an enjoyable experience for people to enjoy together is rewarding and games are a great way for me to do this with coding.</p>
            </li>
            <li>
                <h3>Pixel art</h3>
                <p>I enjoy art but my hand coodination is poor. Pixel art lets me precisely choose where to place a pixel to craft an image.</p>
            </li>
        </ul>
    </div>
</div>
{% endblock %}